*{
    /* border:1px solid blue; */
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.homepage{
    display:grid;
    grid-template-columns: 2fr 3fr 2fr;
}
header{
    grid-column: 2/3;
    background-color: lightblue;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
article{
    grid-column: 2/3;
    background-color: lightpink;
    height: 400px;
    margin-bottom: 10px;
}
footer{
    grid-column: 1/2;
    background-color: lightblue;
}