<div class = "homepage">
    <header><h2>Important Notes Entered</h2></header>
    <button class ="leftslider material-icons" (click)="leftClick()">arrow_back_ios</button>
    <article>
        <h2>{{importantnotes[noteIndex]?.title}}</h2><br>
        <p>{{importantnotes[noteIndex]?.dateCreated | date}}</p>
        <p>{{importantnotes[noteIndex]?.body}}</p>
        
    </article>
    <button class ="rightslider material-icons" (click)="rightClick()">arrow_forward_ios </button>
    <footer>
        <p>Notes You've recently entered</p>
    </footer>
</div>
