
<div class = "noteswrapper">
    <mat-label><h3 class = "searchbox">Search For Note</h3></mat-label>
    <div class="newform">
    <app-noteform [hide] = "newFormHide"></app-noteform>
    </div>
    <input type="search" class = "searchbox" matInput placeholder="Enter the title" #searchid><span (click)="searchClicked(searchid.value)">search</span>
    <div class = "notecard" (click)="snoteClicked(snoteid.value)"> 
        <input hidden value = {{searchedNote?.id}} #snoteid>
        <p>{{searchedNote?.title}}</p><br>
        <p>{{searchedNote?.dateCreated | date}}</p>
    </div>
    <h3 class = "noteheader">All Notes</h3>
 
    <div *ngFor="let note of allNotes" class = "notecard" (click)="noteClicked(noteid.value)"> 
        <input hidden value = {{note?.id}} #noteid>
        <p>{{note?.title}}</p><br>
        <p>{{note.dateCreated | date}}</p>
    </div>

    <a mat-button class = "navbutton footer"  (click)="newNoteClicked()">new note</a>

    <div class ="newform" [hidden] = "noteClickedVal" >
        <header>Selected Note</header>
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
            <input type = "text"  class = "title" placeholder="Enter Note title" formControlName="title">
            <input formControlName="dateCreated">
            <textarea id="textarea" name="body" rows="15" formControlName="body"></textarea>
            <mat-slide-toggle type = "button" formControlName="important">Important</mat-slide-toggle>
            <button type ="submit">update</button>
            <button type ="button" (click)="deleteNote()">delete</button>
        </form>
        </div>
</div>